{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "main"}}
{{with .Snippet}}
<div class='snippet'>
    <div class='metadata'>
        <strong>{{.Title}}</strong>
        <span>#{{.ID}}</span>
    </div>
    <pre><code>{{.Content}}</code></pre>
    <div class='metadata'>
        <!-- type method - using pipeing -->
        <time>Created: {{.Created.Format "02 Jan 2006 15:04"}} - {{.Created | humanDate | printf "Created %s"}}</time>
        <!-- Calling type methods - calling function with argument  -->
        <time>Expires: {{.Expires.Weekday}} - {{humanDate .Expires}} </time>
    </div>
</div>
{{end}}
{{end}}